<!DOCTYPE html>
<html lang = "en">
   
   <head>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      
      <title>Algorithm Time</title>
      
      <!-- Bootstrap -->
      <link href = "/css/bootstrap.min.css" rel = "stylesheet">        
      <link href = "/css/global.css" rel = "stylesheet">        
      <link href = "/css/main.css" rel = "stylesheet">

      <% if(main_page.split("/").reverse()[1] == "challenge"){ %>
      <link href = "/css/challenge.css" rel = "stylesheet">
      <% } %>

      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <script src = "/js/jquery-1.12.3.min.js"></script>
      <script src = "/js/bootstrap.min.js"></script>
	   <script src = "/js/socket.io.js"></script>  
   </head>
   <body>
